@import "~bootstrap/scss/bootstrap";
header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url('https://www.1zoom.me/big2/719/240569-Leyzif2000.jpg');
}
main {
    
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 100vh; */

}

.forgot-link{
    text-decoration: none;
    color: white;
}
.login-form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #4C3837;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 5px white;

}
.login-form{
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}